<!-- component -->
<div class="login pt-24">
         <div class="relative  flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8 items-center">
                  <div class="absolute  opacity-60 inset-0 z-0"></div>
                  <div class="mt-2 items-center z-10">
                           <form action="/login" method="POST" class="form p-14 bg-white mx-auto rounded-xl shadow-xl overflow-hidden space-y-5">
                                    <% if (messages.error) {
                                             %>
                                             <span class="text-red-500 alert alert-denger text-sm"><%= messages.error %></span>
                                             <%
                                    } %>
                                    <h2 class="text-4xl font-bold text-center text-primary-c">Login</h2>
                                    <div class="f-outline px-2 relative border rounded-lg focus-within:border-indigo-500">
                                             <input type="email" name="email" placeholder=" "
                                             class="block p-2 w-full text-lg appearance-none focus:outline-none bg-transparent" />
                                             <label for="email"
                                                      class="absolute ml-5 top-0 text-lg text-gray-700 bg-white mt-2 -z-1 duration-300 origin-0">Email</label>
                                    </div>
                                    <div class="f-outline px-2 relative border rounded-lg focus-within:border-indigo-500">
                                             <input type="password" name="password" placeholder=" "
                                             class="block p-2 w-full text-lg appearance-none focus:outline-none bg-transparent" />
                                             <label for="password"
                                                      class="absolute ml-5 top-0 text-lg text-gray-700 bg-white mt-2 -z-1 duration-300 origin-0">Password</label>
                                    </div>
                                    <div class="block mt-2">
                                             <label for="" class="flex items-center">
                                                      <input type="checkbox"
                                                      class="ml-2 rounded border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50">
                                             </input>
                                             <span class="ml-2 text-sm text-gray-600">Remember me</span>
                                    </label>
                           </div>
                           <div class="flex items-center flex items-center justify-between mt-4">
                                    <a class="text-sm text-gray-600 hover:text-gray-900" href="/register">
                                             Create Account
                                    </a>
                                    <button
                                             type="submit" class="px-6 py-2 ml-4 font-semibold cursor-pointer text-center focus:outline-none transition hover:shadow-lg shadow  rounded-full text-white order-btn">
                                             Log in
                                    </button>
                           </div>
                  </form>
         </div>
</div>
</div>