
        //Color variable
        $primary: #5BDF31;
        $primary-hover: #31A10C;
        $secondary: #f8f8f8;
        $pure: #fff;
        $black: #000;
        $gray: #ccc; 
        //------Font family variables-------
        $amita: 'Amita', cursive;
        $noto: 'Noto Sans JP', sans-serif;
        $quick: 'Quicksand', sans-serif;
        
        //------transisthon variables---------
        $smouth: all .3s ease-in-out;