@import "./variables";
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

.d-none {
         display: none;
}

body {
         font-family: $quick;
}
.text-red {
         color: red;
}
.text-orange {
         color: orange;
}
.logo {
         font-family: $amita;
}
.text-primary-c {
         color: $primary;
}
.logo-img {
         width: 50px;
}
nav li a {
         transition: $smouth;
         &:hover {
                  color: $primary;
         }
         .cart {
                  background: $primary-hover;
                  color: $pure;
                  &:hover {
                           background: $primary-hover;
                           color: $pure;
                  }
         }
}
.order-btn {
         color: $pure;
         background: $primary;
         border: 2px solid $primary;
         transition: $smouth;
         &:hover {
                  background: $primary-hover;
                  color: $pure;
                  border-color: $primary-hover;
         }
}
section.hero {
         background: $secondary;

}
.peace {
         background: $secondary;
}
.card .add-to-cart {
         color: $primary;
         border: 2px solid $primary;
         transition: $smouth;
         &:hover {
                  background: $primary;
                  color: $pure;
                  border-color: $pure;
         }
         &:focus {
                  outline: none;
         }
}
.cart {
         background: $secondary;
         .amount {
                  color: $primary;
         }
}
footer {
         position: relative;
         bottom: 0;
}
.f-outline input:focus-within ~ label,
.f-outline input:not(:placeholder-shown) ~ label {
         transform: translateY(-1.5rem) translatex(-1rem) scaleX(0.80) scaleY(0.80);
}
.login,.register {
         background: $secondary;
         height: calc(100vh - 150px);
}
.login form {
         width: 356px;
         max-width: 356px;
}
.cols-gap-6 {
         grid-column-gap:30px;
}
a.link {
         color: $primary;
}
section.status {
         background: $secondary;
         min-height: calc(100vh - 86px);
}
.status-box {
         padding: 60px 0 0;
}
.status-box ul {
         margin-left: 84px;
}
.status-box ul li span {
         position: relative;
         padding-left: 20px;
}
// Dots
.status-box ul li span:after {
         content: '';
         position: absolute;
         left: -10px;
         top:50%;
         background: $dark;
         width: 10px;
         height: 10px;
         border-radius: 50%;
         transform: translateY(-50%);
         box-shadow:0 0 1px 10px $secondary;
}

// Icons
.status-box ul li span:before {
         font-family: "bootstrap-icons";
         font-size: 46px;
         font-weight: 500;
         position: absolute;
         left: -90px;
         top: 50%;
         transform: translateY(-50%);
         color: inherit;
}
.status-box ul li:nth-child(1) span:before {
         content: '\f28b';
}

.status-box ul li:nth-child(2) span:before {
         content: '\f269';
}

.status-box ul li:nth-child(3) span:before {
         content: '\f41f';
}

.status-box ul li:nth-child(4) span:before {
         content: '\f5ea';
}

.status-box ul li:nth-child(5) span:before {
         content: '\f327';
}
.status-box ul li {
         position: relative;
}
// Line
.status-box ul li:before {
         content: '';
         position: absolute;
         top: 0;
         left: -6px;
         width: 2px;
         height: 100%;
         background: $dark;
         margin-top: 10px;
}
// Last dot
.status-box ul li:nth-child(5) span:after {
         box-shadow:0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
         background: $gray;
}

// dots
.status-box ul li.step-completed span:after {
         background: $gray;
}

// text
.status-box ul li.step-completed span {
         color: $gray;
         text-decoration: line-through;
}
.status-box ul li span i:before {
         display: none;
}
.status-box ul li.step-completed span i:before {
         display: inline;
         content: "\f270";
         margin-left: 10px;
         color: $primary;
         text-decoration: none;
         font-size: 26px;
}

// Current status
.status-box ul li.current span {
         color: $primary;
}

.status-box ul li.current span:after {
         background: $primary;
}

.status-box ul li small {
         float: right;
         font-size: 14px;
         margin-top: 8px;
}


      .text-9xl{

      font-size: 14rem;

      }

      @media(max-width: 645px){

      .text-9xl{

      font-size: 5.75rem;

      }

      .text-6xl{

      font-size: 1.75rem;

      }

      .text-2xl {

      font-size: 1rem;

      line-height: 1.2rem;

      }

      .py-8 {

      padding-top: 1rem;

      padding-bottom: 1rem;

      }

      .px-6 {

      padding-left: 1.2rem;

      padding-right: 1.2rem;

      }

      .mr-6{

      margin-right: 0.5rem;

      }

      .px-12 {

      padding-left: 1rem;

      padding-right: 1rem;

      }

      }

